.notepad-dlg-goto {
  z-index: 10; 
}
.dialogbox {
  height: 160px;
  width: 294px;
  border:1px solid gray;
  position:relative;
}
.notepad-dlg-titlebar{
  width:294px;
  height:27px;
  background-color:white; 
  position:absolute;
  top:0;
  left:0
}
.title label{
  font-size:15px
}
.close-btn{
  float:right;
  margin-right:5px;
}

.main {
  width:294px;
  height: 128px;
  background-color:#f0f0f0;
  padding-top:5px;
  position:absolute;
  top:27px;
}
.txt-line-num {
  box-sizing: border-box;
  height: 30px;
  margin: 10px;
  width: 266px;
}
.btn-goto,
.btn-cancel {
  bottom: 20px;
  position: absolute;
}
.btn-goto {
  right: 100px;
}
.btn-cancel {
  right: 20px;
}
